#footer{
	padding: $spacing 0 80px;
	color: white;
	@include font-size(14px);
	font-family: $merriweather;
	text-transform:uppercase;
	.row{
		position:relative;
	}
	h4{
		font-family: $bebas;
		color: white;
		@include font-size(30px);
		padding-bottom:8px;
		border-bottom: 2px solid $blue;
		margin-bottom: 30px;
	}
	h5{
		color: white;
		line-height: 140%;
		text-transform: none;
	}
	p{
		@include font-size(14px);
	}
	li{
		display: block;
		line-height:100%;
		margin-bottom: 6px;
	}
	a{
		&:link,&:visited{
			color: white;
		}
	}
	.column-inner{
		padding-right:0;
	}
	figure{
		margin-bottom: 10px;
	}
	section{
		margin-bottom: 40px;
		@extend %clearfix;
		&:last-child{
			margin-bottom: 0;
		}
	}
	a.anchor-up{
		display: block;
		width:65px;
		height:65px;
		@extend %ir;
		background-image:url('../images/page-up-arrow.png');
		.svg &{
			background-image:url('../images/page-up-arrow.svg');
		}
		background-position: center center;
		background-repeat:no-repeat;
		background-size:25px auto;
		@include abs-pos(auto,0,-80px,auto);
		&:link,&:visited{
			background-color: $grey;
		}
		&:hover,&:active{
			background-color: white;
		}

	}
}

@media #{$large-only}{

	#footer{
		.ginput_container,.gfield_label{
			width: 100%;
		}
		.gfield_label{
			height:auto;
			line-height: 100%;
			margin-bottom: 4px;
		}
		.gform_footer{
			padding-left:0;
		}
	}

}


@media #{$large-up} { 

	#footer{
		padding: $spacing 0 $spacing;
		.column-inner{
			padding-right:0;
		}
	}

}

@media #{$xlarge-up} { 

	#footer{
		.column-inner{
			padding-right:30px;
		}
	}

}