nav#nav{
	background-color: $blue;
	height:50px;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	display: block;
	z-index:999;
	border-bottom:1px solid white;
	.menu-toggle{
		@include abs-pos(9px,15px,auto,auto);
		display: block;
		width:32px;
		height: 32px;
		@extend %ir;
		@include bg-image('../images/menu');
	}
	.columns{
		padding:0;
	}
	ul{
		margin:0;
		@include abs-pos(50px,0,auto,0);
		display: none;
		padding:0 0 10px;
		background-color: $blue;
	}
	li{
		padding: 0;
		
		a{
			@include font-size(14px);
			color: white;
			@include font-body;
			font-weight: 700;
			text-transform: uppercase;
			height:45px;
			line-height: 47px;
			display: block;
			//margin: 10px 0;
			padding: 0 10px 0 45px;
			position: relative;
			background-color: $blue;
			&:hover,&:active{
				background-color:darken($blue,10%);
			}
			&:before{
				content:"";
				width:30px;
				height:45px;
				display: block;
				@include abs-pos(0,auto,auto,10px);
				background-image:url('../images/icon-book.png');
				.svg &{
					background-image:url('../images/icon-book.svg');
				}
				background-position:center center;
				background-repeat:no-repeat;
				background-size: 24px auto;
			}
		}
		&.equities{
			a:before{
				background-image:url('../images/icon-equities.png');
					.svg &{
						background-image:url('../images/icon-equities.svg');
				}
			}
		}
		&.evil-diaries{
			a:before{
				background-image:url('../images/icon-evil-diaries.png');
					.svg &{
						background-image:url('../images/icon-evil-diaries.svg');
				}
			}
		}
		&.currencies{
			a:before{
				background-image:url('../images/icon-currencies.png');
					.svg &{
						background-image:url('../images/icon-currencies.svg');
				}
			}
		}
		&.economics{
			a:before{
				background-image:url('../images/icon-economics.png');
					.svg &{
						background-image:url('../images/icon-economics.svg');
				}
			}
		}
		&.other{
			a:before{
				background-image:url('../images/icon-other.png');
				background-size: 30px auto;
					.svg &{
						background-image:url('../images/icon-other.svg');
				}
			}
		}
		&.about{
			a:before{
				background-image:url('../images/icon-about.png');
					.svg &{
						background-image:url('../images/icon-about.svg');
				}
			}
		}
		&.contact{
			a:before{
				background-image:url('../images/icon-contact.png');
					.svg &{
						background-image:url('../images/icon-contact.svg');
				}
			}
		}
	}
}
@media #{$large-up} { 
	nav#nav{
		li{
			a{
				&:hover,&:active{
					background-color:$blue; 
				}
			}	
		}	
	}
	
}
@media #{$xlarge-up} { 
	
nav#nav{
	//@include centered-menu;
	position:relative;
	top:auto;
	left:auto;
	padding:0 15px;
	.fixed &{
		position:fixed;
		top:0;
		left:0;
	}
	.columns{
		padding:0 0.9375rem;
	}
	.menu-toggle{
		display: none;
	}
	ul{
		display: block;
		position: relative;
		top:auto;
		right:auto;
		//left:50%;
		padding:0;
		li{
			padding: 0 55px 0 0;
			float:left;
			display: inline-block;
			&:last-child{
				padding-right:0;
			}
			a{
				margin: 10px 0;
				height: 30px;
				line-height: 30px;
				padding: 0 0 0 35px;
				&:before{
					height:30px;
					@include abs-pos(0,auto,auto,0);
				}
			}
		}
	}
}


}