//neat overrides
$max-width: 1560px; //overide neat outer container width
$visual-grid: false; 

//colours
$blue: #27aae1;
$light-grey: #f1f1f2;
$grey: #231f20;

//font face

@font-face {
    font-family: 'BebasNeueBold_gdi';
    src: url('../fonts/BebasNeueBold_gdi.eot');
    src: url('../fonts/BebasNeueBold_gdi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeueBold_gdi.woff') format('woff'),
         url('../fonts/BebasNeueBold_gdi.ttf') format('truetype'),
         url('../fonts/BebasNeueBold_gdi.svg#BebasNeueBold_gdi') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'BebasNeueBold_gdi';
        src: url('../fonts/BebasNeueBold_gdi.svg#BebasNeueBold_gdi') format('svg');
    }
}

//fonts
$bebas: "BebasNeueBold_gdi", sans-serif;
$merriweather: "Merriweather", serif;
//break points
$break-xsmall: 380px; //mobile
$break-small: 660px; //mobile
$break-medium: 768px; //ipad 
$break-large: 1200px; //desktop
$break-xlarge: 1560px; //hi res desktop
