.archive,.search{
	article.post{
		h2{
			@include font-size(22px);
			margin-bottom: 10px;
		}
		figure{
			margin:0 0 20px;
		}
	}
	.posts-footer{
		display: block;
		width:100%;
		position: relative;
		text-align: center;
		.load-posts{
			@include font-size(18px);
			font-family:$bebas;
			display: none;
			height:32px;
			line-height: 32px;
			padding: 0 40px 0 0;
			margin:0 auto;
			width: auto;
			color: $dark-grey;
			position: relative;
			&.loading{
				display: inline-block;
				&:after{
					content:"";
					width:24px;
					height:24px;
					display: block;
					@include abs-pos(3px,0,auto,auto);
					background-image:url('../images/spin.gif');
					.svg &{
						background-image:url('../images/spin.svg');
					}
					background-position:center center;
					background-repeat: no-repeat;
					background-size:100% auto;
				}
			}
			&.end{
				display: none;
			}
		}
	}
}
.archive-menu{
	@extend %clearfix;
	ul{
		margin:0;
	}
	li{
		margin-bottom: 10px;
	}
	h5{
		margin-bottom: 5px;
		line-height: 130%;
	}
	p{
		@include font-size(12px);
		line-height: 120%;
	}
	figure{
		width: 110%;
		margin-bottom: 10px;
	}
	footer{
		font-family: $merriweather;
		@include font-size(12px);
		text-transform: uppercase;
		padding:0 0 20px;
	}
}

header h4{
	background-color: $blue;
	color: white;
	margin-bottom: 15px;
	@include font-size(16px);
	text-transform: uppercase;
	padding: 12px 10px 12px 45px;
	position: relative;
	&:before{
		content:"";
		width:24px;
		height:24px;
		@include abs-pos(50%,auto,auto,10px);
		display: block;
		@include bg-image('../images/icon-book');
		margin-top:-12px;
		.evil-diaries &{
			@include bg-image('../images/icon-evil-diaries');
		}
		.economics &{
			@include bg-image('../images/icon-economics');
		}
		.equities &{
			@include bg-image('../images/icon-equities');
		}
		.currencies &{
			@include bg-image('../images/icon-currencies');	
		}
		.others &{
			@include bg-image('../images/icon-other');
			width:36px;
			margin-top: -14px;
		}
	}
}

@media #{$medium-up} { 

	.archive-menu{
		figure{
			width:100%;
		}
	}
}

@media #{$large-up} { 

	article.post{
		figure{
		//	margin:0;
		}
	}
	.archive-menu{
		figure{
			width: 120%;
			margin:0;
		}
		li{
			margin-bottom: 0;
		}
	}

}
