.page-template-template-contact{
	#main{
		padding-bottom:0;
	}
	h1,h2{
		@include font-size(28px);
	}
	.gform_wrapper{
		margin-bottom: $spacing;
		li{
			width:100%;
			clear: both;
		}
	}
	aside{
		.contacts{
			padding-bottom: 40px;
			p{
				padding: 4px 0 0 40px;
				position: relative;
				&:before{
					content:"";
					width:26px;
					height:28px;
					display: block;
					@include abs-pos(0,auto,auto,0);
					background-image:url('../images/pin.png');
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 17px auto;
					.svg &{
						background-image:url('../images/pin.svg');
					}
				}
				&.email{
					&:before{
						background-image:url('../images/email.png');
						background-size: 22px auto;
						.svg &{
							background-image:url('../images/email.svg');
						}
					}
				}
				&.phone{
					&:before{
						background-image:url('../images/phone.png');
						background-size: 19px auto;
						.svg &{
							background-image:url('../images/phone.svg');
						}
					}
				}
			}
		}
	}
	#map{
		display: block;
		width:100%;
		background-color: $grey;
		&:before{
			content:"";
			padding-top:50%;
			display: block;
		}
	}
}


@media #{$medium-up} { 

	.page-template-template-contact{
		.gform_wrapper{
			li{
				padding-right:30px;
				&.half{
					width:50%;
					float:left;
					clear:none;
				}
			}
		}
	}
}


@media #{$large-up} { 

	.page-template-template-contact{

		#map{
			&:before{
				padding-top: 30%;
			}
		}
	}

}