.page-template-template-contact{
	#main{
		padding-bottom:0;
	}
	h1,h2{
		@include font-size(28px);
	}
	.gform_wrapper{
		margin-bottom: $spacing;
		li{
			width:100%;
			clear: both;
		}
	}
	#map{
		display: block;
		width:100%;
		background-color: $grey;
		&:before{
			content:"";
			padding-top:50%;
			display: block;
		}
	}
}


@media #{$medium-up} { 

	.page-template-template-contact{
		.gform_wrapper{
			li{
				padding-right:30px;
				&.half{
					width:50%;
					float:left;
					clear:none;
				}
			}
		}
		aside{
			.gform_wrapper{
				li{
					padding-right:0;
				}
			}
		}
	}
}


@media #{$large-up} { 

	.page-template-template-contact{

		#map{
			&:before{
				padding-top: 30%;
			}
		}
	}

}