#feature{
	background-color: $light-grey;
	padding: $spacing 0 $spacing;
}
#slider{
	h3{
		@include font-size(34px);
		font-weight: 700;
		margin-bottom: 10px;
	}
	.slick-prev,.slick-next{
		@include abs-pos(auto,auto,0,0);
	}
	.slick-next{
		left:40px;
	}
	.slide{
		padding-bottom:40px;
		figure{
			&:before{
				content:"";
				display: inline-block;
				padding-top:50%;
			}
		}
	}
}
#twitter-feed{
	padding: $half-spacing 0 $half-spacing;
	border-bottom:1px solid lighten($grey,20%);
	margin-bottom: $half-spacing;
	p{
		margin-bottom: 0;
	}
	.slider{
		padding:0 70px;
		position: relative;
		&:before{
			content:"";
			width:38px;
			height:31px;
			@include abs-pos(0,auto,auto,0);
			@include bg-image('../images/twitter');
		}
		.slide{
			width:100%;
			height:40px;
			background-color: $light-grey;
			&:before{
				content:"";
				height:40px;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
			}
			.vcenter{
				display: inline-block;
				width:98%;
				margin:0 auto;
				text-align: left;
				vertical-align: middle;
			}
		}
		.slick-next,.slick-prev{
			@include abs-pos(50%,55px,auto,auto);
			margin-top:-6px;
		}
		.slick-next{
			right: 30px;
		}
	}
}
#must-reads{
	.columns:last-child{
		display: none;
	}
}
.latest-articles article{
	margin-bottom: 40px;
}
#latest-edition{
	h2{
		@extend %ir;
		max-width:300px;
		width:100%;
		height:50px;
		@include bg-image('../images/mi-slug');
	}
	h3{
		font-family: $bebas;
		@include font-size(70px);
		line-height: 80%;
		margin-bottom: 10px;
	}
	p.issue{
		font-family: $merriweather;
		text-transform: uppercase;
		@include font-size(15px);
		color: $blue;
		margin-bottom: 30px;
	}
	figure{
		width: 100%;
		margin:0 auto;
		img{
			width: 100%;
			height: auto;
		}
	}
	.links{
		li{
			margin-bottom: 15px;
		}
	}
	nav.features{
		margin: $half-spacing 0 0;
		li{
			&:last-child{
				p{
					margin-bottom: 0;
					padding-bottom: 0;
					border:none;
				}
			}
		}
		h4{
			font-family: $bebas;
			@include font-size(36px);
			margin-bottom: 10px;
			a{
				color: $dark-grey;
			}
		}
		p{
			font-family: $merriweather;
			@include font-size(18px);
			text-transform: uppercase;
			line-height: 120%;
			border-bottom:2px solid $dark-grey;
			margin-bottom: 20px;
			padding-bottom: 20px;
		}
	}
}
.section-wrap{
	margin-bottom:80px;
}

/* Large */
@media #{$medium-up} {

	#latest-edition{ 
		nav.features{
		//	margin: 0;
		}
	}
}
@media #{$large-up} { 
	#slider{
		.slide{
			padding-bottom:0px;
			figure{
				&:before{
					padding-top:66.66%;
				}
			}
		}
	}
	#must-reads{
		.columns:last-child{
			display: block;
		}
	}
	#latest-edition{
		h3{
			@include font-size(90px);
			line-height: 80%;
		}
		nav.features{
			margin:0;
		}
		figure{
			width: 100%;
		}
	}
	.latest-articles article{
		margin-bottom: 0;
	}
}
